.HomePage {
  padding: 30px 0 100px 0;
  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__search-icon {
    padding-left: 10px;
    cursor: pointer;
  }
}
