{
  "root": true,
  "extends": ["@shelf/eslint-config/frontend-typescript", "plugin:i18next/recommended"],
  "settings": {
    "react": {
      "version": "16.9.0"
    }
  },
  "rules": {
    "react/prop-types": "warn",
    "i18next/no-literal-string": [
      "warn",
      {"ignoreCallee": ["t", "createBlock", "logger", "it", "describe"], "ignoreAttribute": ["displayName"]}
    ]
  },
  "globals": {
    "Rollbar": true,
    "toastr": true,
    "DD_LOGS": true,
    "sweetAlert": true
  }
}
