.Authorization {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__btn {
    padding-top: 5px;
  }
}

.UserData {
  text-align: center; }
.UserData i.huge.icon {
  font-size: 80px !important; }
