.PlacesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  &__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 200px;
  }
  &__label {
    font-weight: 700;
    font-size: 16px;
  }
  &__filters {
    display: flex;
    flex-direction: row;
    &--map {
      align-items: center;
      justify-content: flex-start;
    }
  }
  &__filter {
    padding: 5px;
  }
  &__places {
    display: flex;
    align-items: center;
  }
  a:hover {
    text-decoration: none;
  }
  &__place {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    margin: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    min-height: 315px;
    box-sizing: border-box;
    &:hover {
      padding: 30px;
      margin: 0;
      background-color: rgba(0, 255, 255, 0.1);
      border: 1px solid rgba(0, 255, 255, 0.7)
    }
  }
  &__name {
    font-size: 14px;
    padding: 5px;
    font-weight: 700;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  &__image-block {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  &__address {
    padding-top: 5px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
  }
  &__rating {}
  &__see-all {
    font-size: 18px;
    padding: 5px;
    font-weight: 700;
    color: chocolate;
    cursor: pointer;
    padding-left: 40px;
  }
}
